table {
  border: 1px solid black;
}
#showTable th {
  background-color: lightblue;
  border: 1px solid black;
  padding: 8px;
}
#showTable tr:nth-child(even) {
  background-color: lightgoldenrodyellow;
}

#showTable td {
  border: 1px solid black;
  padding: 8px;
}

button#stopTrack {
  margin-top: 1px;
}
.StopTrackingBtn{
  padding: 4px 25px;
  border:2px solid rgb(116, 8, 8);
  box-shadow: none;
  border-radius:5px;
  margin: 5px;
  background-color: red;
}
.StopTrackingBtn:hover{
  background-color: rgb(104, 5, 5);
  color: white;
}