ul.buttonList{
    list-style: none;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 38%; */
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 30px;
}

.StockButton{
    background-color: rgb(2, 177, 2);
    padding: 4px 25px;
    border: 2px solid rgb(3, 77, 3);
    box-shadow: none;
    border-radius:5px;
    
}
.StockButton:hover{
    background-color: rgb(2, 70, 2);
    color: white;
}