body {
  background-color: rgba(74, 119, 74, 0.75);
  margin: 0;
  font-family: 'Teko', sans-serif;
  font-size: 22px;
  font-weight: 450;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


